@using YOUP_Design.Classes.Profile;
@model YOUP_Design.Models.Forum.MessageModel
@{
    ViewBag.Title = "Discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Forum";
}

<div class="container">
    <a name="hautpage" id="hautpage"></a>

    @{
        YOUP_Design.Classes.Forum.Topic top = ViewBag.topic;

    }
    <h1>@top.Nom</h1>

    <div class="publicite well">
        Encart de publicité
    </div>



    @{
        List<YOUP_Design.Classes.Profile.Utilisateur> listUsers = ViewBag.users;

    }
    @foreach (var m in ViewBag.messages)
    {

        <div class="list-group">

            <div class="row list-group-item">
                <div class="col-sm-2">
                    <p><img class="img-circle forumImgDisc" src="@listUsers.Where(o => o.Utilisateur_Id == m.Utilisateur_id).FirstOrDefault().PhotoChemin" /></p>
                </div>
                <div class="col-sm-10">
                    <h2><a href="/Profile/Detail/@m.Utilisateur_id">@listUsers.Where(o => o.Utilisateur_Id == m.Utilisateur_id).FirstOrDefault().Pseudo</a></h2>
                    <p>@m.DatePoste</p>
                    <p>@Html.Raw(m.ContenuMessage)</p>
                </div>
            </div>

        </div>
    }

    @using (Html.BeginForm())
    {


        <div style="text-align:center;">
            <h3>Ecris ton message :</h3>
            @Html.ValidationMessageFor(Model => Model.ContenuMessage)


            <textarea name="editor1" id="editor1" rows="10" style="width:100%" class="input-sm"></textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('editor1');
            </script>
            <input type="hidden" name="idTopic" id="idTopic" value="@Request["id"]" />
            
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4" style="margin-top :30px; margin-bottom:30px;">
                    <a href="Topics?id=@top.Sujet_id" class="btn btn-default btn-defaultProfil">Retour</a>
                    <input type="submit" class="btn btn-primary" value="Envoyer" />
                </div>

            </div>

        </div>
    }
    <a href="#hautpage"><img src="http://redecouvrirdieu.com/img/B1.svg" alt="top" /></a>

</div>
