@using YOUP_Design.Classes.Profile;
@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Forum";
}


<div class="container">

    @{
        YOUP_Design.Classes.Forum.Categorie forum = ViewBag.forum;

    }
    <h1>@forum.Nom</h1>

    <div class="publicite well">
        Encart de publicité
    </div>



    @{
        List<YOUP_Design.Classes.Profile.Utilisateur> listUsers = ViewBag.users;

    }
    <div class="list-group">
        @foreach (var t in ViewBag.topics)
        {
            <div class="row list-group-item">
                <div class="col-sm-2">
                    <br />
                    <img class="img-circle  forumImg" src="@listUsers.Where(o => o.Utilisateur_Id == t.Utilisateur_id).FirstOrDefault().PhotoChemin" alt=" user" />

                </div>
                <div class="col-sm-10">
                    <h2><a href="/Forum/Discussion?id=@t.Topic_id">@t.Nom</a></h2>
                    <p>Dernier message</p>
                    <p>Description : @Html.Raw(t.DescriptifTopic)</p>
                    <p>@t.DateCreation</p>
                    <p>Par @listUsers.Where(o => o.Utilisateur_Id == t.Utilisateur_id).FirstOrDefault().Pseudo</p>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-lg-offset-4 col-lg-4" style="margin-top :30px; margin-bottom:30px;">
                <a href="javascript:history.back()" class="btn btn-default btn-defaultProfil">Retour</a>
                <a href="/Forum/NewTopic?id=@Request["id"]"><input type="button" class="btn btn-primary" value="Créer une nouvelle discution" /></a>
            </div>
        </div>

    </div>
</div>