@model YOUP_Design.Classes.Profile.Utilisateur
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Profile";
}

@*PLEASE.....<script type="text/javascript">
    $(document).ready(function () {
        ProfilModule.initProfil(@ViewBag.idProfil);
    });
</script>


<p>Utilisateur_id : <span data-bind="text: Utilisateur_id"></span></p>
<p>Nom : <span data-bind="text: Nom"></span></p>
<p>Prenom : <span data-bind="text: Prenom"></span></p>*@

<div class="container divAllProfil">
    <div class="encartPoub well">
        Encart de publicité
    </div>

    <div class="rechercheProfil">
        <div class="moduleRecherche form-group input-group">
            <input type="text" class="form-control" placeholder="Rechercher dans le Profil">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
        <div class="btnModifPhoto">
            <button type="button" class="btn btn-default" onclick="location.href = 'http://' + location.host + '/profile/logout';">Deconnexion</button>
        </div>
    </div>

    <div class="photoProfil">
        <div class="row parentDecoProfil">
            <div class="col-lg-offset-2 col-lg-3 decoPhotoProfil "></div>
            <div class="col-lg-2">
                <img id="idPhotoProfil" src="@Model.PhotoChemin" alt="photo profil" class="img-circle">
            </div>
            <div class="col-lg-3 decoPhotoProfil"></div>
        </div>

        <br />
        <h3 class="helloUtil">Salut @Model.Prenom @Model.Nom !</h3>
    </div>

    <div class="row ">
        <div id="menuProfile" class="col-lg-offset-2 col-lg-8 text-center">
            <div class=" btn-group btn-group-justified menuProfil">
                <a id="lienAct" class="btn btn-default">Activité</a>
                <a id="lienPro" class="btn btn-default">Profil</a>
                <a id="lienAm" class="btn btn-default">Amis</a>
            </div>
        </div>
    </div>

    <div id="afficheActivite">
        @Html.Partial("~/Views/Profile/partialActivite.cshtml", Model)
    </div>

    <div id="afficheProfil">
        @Html.Partial("~/Views/Profile/partialProfil.cshtml", Model)
    </div>

    <div id="afficheAmis">
        @Html.Partial("~/Views/Profile/partialAmis.cshtml", Model)
    </div>
</div>
