@{
    ViewBag.Title = "Index";
}
<div style="height:40px;">

</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3 class="panel-title">Profil</h3>
        </div>
        <div class="panel-body">
            @foreach (var user in ViewBag.usersResults)
            {
                <div class="row well">
                    <div class="col-lg-2 text-center">
                        <img src="@user.PhotoChemin" alt="Image de profil de @user.Pseudo" class="img-circle" style="height: 80px; width: 80px;" />
                    </div>
                    <div class="col-lg-6">
                        <h3>@user.Pseudo - <small>@user.Prenom @user.Nom</small></h3>
                        <p>@user.Ville (@user.CodePostal)</p>
                    </div>
                    <div class="col-lg-4">
                        <p>@user.DateNaissance</p>
                    </div>
                </div>
            }
        </div>
        <div class="panel-heading text-center">
            <h3 class="panel-title">Evenements</h3>
        </div>
        <div class="panel-body">
            @foreach (var yevent in ViewBag.eventsResults)
            {
                <div class="row well">
                    <div class="col-lg-2 text-center">
                        <img src="@yevent.ImageUrl" alt="Image l'évenement @yevent.TitreEvenement'" class="img-circle" style="height: 80px; width: 80px;" />
                    </div>
                    <div class="col-lg-6">
                        <h3>@yevent.TitreEvenement <small>by @yevent.OrganisateurPseudo</small></h3>
                        <p>@yevent.Adresse</p>
                    </div>
                    <div class="col-lg-4">
                        <p>@yevent.Categorie_Libelle</p>
                        <p>@yevent.DateEvenement</p>
                        <p>@yevent.NbParticipant / @yevent.MaximumParticipant</p>
                        <p>@yevent.Prix €</p>
                    </div>
                </div>
            }
        </div>
        <div class="panel-heading text-center">
            <h3 class="panel-title">Blogs</h3>
        </div>
        <div class="panel-body">
            @foreach (var blog in ViewBag.blogsResults)
            {
                <div class="row well">
                    <div class="col-lg-6 text-center">
                        <p>@blog.TitreBlog</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p>@blog.DateCreation</p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <p>Actif : @blog.Actif</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>