@{
    ViewBag.Title = "Profil";
}
<div style="height:40px;">

</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <a style ="color:white;" href="/Recherche/Profil?keyword=@ViewBag.keyword&from=0&take=20"><h3 class="panel-title">Profil</h3></a>
        </div>
        <div class="panel-body">
            @foreach (var user in ViewBag.usersResults)
            {
                <div class="row well">
                    <div class="col-lg-2 text-center">
                        <img src="@user.PhotoChemin" alt="Image de profil de @user.Pseudo" class="img-circle" style="height: 80px; width: 80px;" />
                    </div>
                    <div class="col-lg-6">
                        <a href="/Profile/Detail/@user.Utilisateur_Id"><h3>@user.Pseudo - <small>@user.Prenom @user.Nom</small></h3></a>
                        <p>@user.Ville (@user.CodePostal)</p>
                    </div>
                    <div class="col-lg-4">
                        <p>@user.DateNaissance</p>
                    </div>
                </div>
            }
            @if (ViewBag.nb == 20 || ViewBag.from != 0)
            {
                <div class="row well text-center">
                    @if (ViewBag.from != 0)
                    {
                        <a href="/Recherche/Profil?keyword=@ViewBag.keyword&from=@(ViewBag.from - 20)&take=20">Précedant </a>
                    }
                    @if (ViewBag.nb == 20)
                    {
                        <a href="/Recherche/Profil?keyword=@ViewBag.keyword&from=@(ViewBag.from + 20)&take=20">Suivant</a>
                    }
                </div>
            }
        </div>
    </div>
</div>