@{
    ViewBag.Title = "Historique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script type="text/javascript">
    $(window).load(function () {
        $('#preloader').hide();
    });

    $(document).ready(function () {

        function LoadPartialViewDevice() {

            $.get("@Url.Action("Device", "Historique")",'', function (data) {

                $("#partialgoeshere").empty();
                $("#partialgoeshere").html(data);

            });

        }
        $('#menuDevice').on('click', function () {
            LoadPartialViewDevice();
        });
        function LoadPartialViewOS() {

            $.get("@Url.Action("OS", "Historique")",'', function (data) {

                $("#partialgoeshere").empty();
                $("#partialgoeshere").html(data);

            });

        }
        $('#menuOS').on('click', function () {
            LoadPartialViewOS();
        });

        function LoadPartialViewPagesVisitees() {

            $.get("@Url.Action("PageVisitee", "Historique")",'', function (data) {

                $("#partialgoeshere").empty();
                $("#partialgoeshere").html(data);

            });

        }
        $('#menuPagesVisitees').on('click', function () {
            LoadPartialViewPagesVisitees();
        });
        function LoadPartialViewSaisonnalite() {

            $.get("@Url.Action("Saisonnalite", "Historique")",'', function (data) {

                $("#partialgoeshere").empty();
                $("#partialgoeshere").html(data);

            });

        }
        $('#menuSaisonnalite').on('click', function () {
            LoadPartialViewSaisonnalite();
        });
        function LoadPartialViewStatsUsage() {

            $.get("@Url.Action("StatsUsage", "Historique")",'', function (data) {

                $("#partialgoeshere").empty();
                $("#partialgoeshere").html(data);

            });

        }
        $('#menuStatsUtilisation').on('click', function () {
            LoadPartialViewStatsUsage();
        });
        function LoadPartialViewTops() {

            $.get("@Url.Action("Tops", "Historique")",'', function (data) {

                $("#partialgoeshere").empty();
                $("#partialgoeshere").html(data);

            });

        }
        $('#menuTops').on('click', function () {
            LoadPartialViewTops();
        });
    });
</script>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<div class="container divAllHistorique">
    <div class="row ">
        <div class="col-lg-offset-2 col-lg-8 text-center">
            <h1>Historique</h1>
            <div class=" btn-group btn-group-justified menuProfil">
                <a id="menuOS" class="btn btn-default">Type de OS</a>
                <a id="menuDevice" class="btn btn-default">Type de device</a>
                <a id="menuPagesVisitees" class="btn btn-default">Pages les + visitées</a>
                <a id="menuSaisonnalite" class="btn btn-default">Saisonnalité</a>
                <a id="menuStatsUtilisation" class="btn btn-default">Stats d'utilisation</a>
                <a id="menuTops" class="btn btn-default">Tops</a>
            </div>
        </div>
    </div>

    <div id="partialgoeshere">

    </div>
</div>