@{
    ViewBag.Title = "Historique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container divAllHistorique">
    <div class="row ">
        <div class="col-lg-offset-2 col-lg-8 text-center">
            <h1>Historique</h1>
            <div class=" btn-group btn-group-justified menuProfil">
                <a id="menuDeviceOS" class="btn btn-default">Type de device/OS</a>
                <a id="menuPagesVisitees" class="btn btn-default">Pages les + visitées</a>
                <a id="menuSaisonnalite" class="btn btn-default">Saisonnalité</a>
                <a id="menuStatsUtilisation" class="btn btn-default">Stats d'utilisation</a>
                <a id="menuTops" class="btn btn-default">Tops</a>
            </div>
        </div>
    </div>

    <div id="afficheDeviceOS">
        @Html.Partial("~/Views/Historique/partialDeviceOS.cshtml")
    </div>
    <div id="affichePagesVisitees">
        @Html.Partial("~/Views/Historique/partialPagesVisitees.cshtml")
    </div>
    <div id="afficheSaisonnalite">
        @Html.Partial("~/Views/Historique/partialSaisonnalite.cshtml")
    </div>
    <div id="afficheStatsUtilisation">
        @Html.Partial("~/Views/Historique/partialStatsUtilisation.cshtml")
    </div>
    <div id="afficheTops">
        @Html.Partial("~/Views/Historique/partialTops.cshtml")
    </div>
</div>