@model IEnumerable<YOUP_Design.Classes.Historique.DeviceTypeStatRow>

<link href="~/Content/css/historique.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#exampleInputDateDebut').on('change',function () {
            //alert(this.value);         //Date in full format alert(new Date(this.value));
            var inputDate = new Date(this.value);
        });

        $('#exampleInputDateFin').on('change', function () {
            //alert(this.value);         //Date in full format alert(new Date(this.value));
            var inputDate = new Date(this.value);
        });
    });

    function datecheck() {
        // Returns Color code.
        var dateDebut = document.getElementById('exampleInputDateDebut').value;
        var dateFin = document.getElementById('exampleInputDateFin').value;

        var url = '@Url.Action("Device", "Historique", new { dateDebut = "_dateDebut_" })'
            .replace('_dateDebut_', dateDebut);

        var url2 = url +"&dateFin="+dateFin;

        $.get(url2, '', function (data) {

            $("#partialgoeshere").empty();
            $("#partialgoeshere").html(data);
        });
    }
</script>

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 text-center">
        <h2>Type de système d'exploitation</h2>
        <div class="form-group input-group-sm searchDate">
            <div class="dateHisto">
                <p>Date début:</p>
                <input type="date" class="form-control" id="exampleInputDateDebut" name="DateDebut">
            </div>

            <div class="dateHisto">
                <p>Date fin:</p>
                <input type="date" class="form-control" id="exampleInputDateFin" name="DateFin">
            </div>
            <input id="SubmitButtonID" class="btn btn-primary btnSearchPV" type="button" value="Rechercher" onclick="datecheck()" />
        </div>

        @if (Model.Count() == 0)
        {
            <p>Pas de système d'exploitation disponible pour la période sélectionnée</p>
        }
        else
        {
            <div class="col-lg-offset-2 col-lg-8 text-center">
                <p>Période sélectionnée</p>
                @Html.TextBox("DateDebut");
                @Html.TextBox("DateFin");
                <h3>Sessions et demandes pour système d'exploitation</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Système d'exploitation</th>
                            <th>Sessions</th>
                            <th>Demande (taux conversion)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.OsType </td>
                                <td>@m.NbViews</td>
                                <td>@m.ConversionRate</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
