﻿@using YOUP_Design.Classes.Blog
﻿@using YOUP_Design.Classes.Profile
@model IEnumerable<YOUP_Design.Classes.Blog.Article>
@{
    ViewBag.Title = "Blog_vue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Blog";
    Blog blog = ViewData["Blog"] as Blog;
    UtilisateurSmall user = ViewData["UserBlogVue"] as UtilisateurSmall;
    string blogTheme;
    if (!string.IsNullOrEmpty(blog.Theme.Couleur))
    {
        blogTheme = "background-color:"+blog.Theme.Couleur+";";
    }
    else
    {
        blogTheme = "background-image:url(" + blog.Theme.ImageChemin + ");";
    }
    
}


    <div class="container" style="@blogTheme background-size: contain; color:white">
        <div class="publicite well">
            Encart de publicité
        </div>


        <div class="row">
            <h2>@blog.TitreBlog</h2>
            <div class="photoProfil">
                <div class="row_blog parentDecoProfil">
                    <div class="col-lg-2">
                        <img id="idPhotoProfil" src="@user.PhotoChemin" alt="photo profil" class="img-circle">
                    </div>
                    <div class="col-lg-2">@user.Pseudo</div>
                    <div class="col-lg-3 decoPhotoProfil"></div>
                </div>
            </div>
        </div>
        @foreach (var e in Model)
        {
            <div class="row">
                <h3 style="margin-left:10px;">@e.TitreArticle</h3>
                <div class="col-lg-offset-2 col-lg-8 text-center">
                    <div class="article_blog">
                        <img src="@e.ImageChemin" alt="image" class="img-rounded">
                        <p>@Html.Raw(e.ContenuArticle)</p>
                    </div>
                    <div class="date_publication_article">
                        <div class="row ">
                            <div class="col-sm-6">
                                <strong>Publié le </strong>@e.DateCreation
                            </div>
                            <div class="col-sm-6">
                                <a class="blog_commentaire" href="Blog_commentaire?ArticleId=@e.Article_id" style="color:white">Commentaires</a> : @e.NbComments
                            </div>
                        </div>
                        <br/>
                    </div>
                    <div class="col-lg-offset-4 col-lg-4 decoSeparationTxt"></div>
                </div>
            </div>
        }
    </div>