@using YOUP_Design.Classes.Blog
@using YOUP_Design.Classes.Profile
@model IEnumerable<YOUP_Design.Classes.Blog.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Blog";

    List<Blog> blogs = ViewData["BlogSmall"] as List<Blog>;
    List<UtilisateurSmall> blogOwners = ViewData["BlogSmallUser"] as List<UtilisateurSmall>;
    List<YOUP_Design.Classes.Blog.Categorie> blogCategories = ViewData["BlogCategories"] as List<YOUP_Design.Classes.Blog.Categorie>;
;}
<div class="container">
    
    @Html.Partial("~/Views/Blog/partialRechercheBlog.cshtml", ViewData["hasBlog"])

    <div class="row">
        <h2>Tous les Blogs</h2>
        <div class="list-group">

        @for (int i = 0; i < blogs.Count; i++)
        {
            <div class="row list-group-item">
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        <img id="idPhotoProfil" src="@blogOwners[i].PhotoChemin" alt="photo profil" style="width:70px;" class="img-rounded">
                    </div>
                    <div class="col-sm-10">
                        <br /><a class="blog_title" href="Blog/Blog_vue?UserId=@blogs[i].Utilisateur_id&BlogId=@blogs[i].Blog_id">@blogs[i].TitreBlog</a><br /><a href="#">Catégorie : @blogCategories[i].Libelle</a> | <a href="#">Publié par : @blogOwners[i].Pseudo</a>
                    </div>
                </div>
            </div>
        }

        </div>
    </div>
   
</div>